

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}



img {
  display: block;
  max-width:800x;
  max-height:600px;
  width: auto;
  height: auto;
}

/* -------------------------------------
CSS for Sidebar (optional)
---------------------------------------- */ */
div#fugo{
float:right
}